.bookpage{
    max-width: 64rem;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    background-color: white;
    padding: 2rem 7rem 2rem 7rem;
    box-shadow: 0px 0px 20px #297EA6;
    margin-bottom: 2rem;

    &__box{
        display: flex;
        flex-direction: row;
        border-bottom: .1rem solid #000;
        margin-left: 5rem;
        margin-right: 5rem;
        padding-bottom: 1rem;
    }

    &__block{
        display: flex;
    }

    &__image{
            width: 11rem;
            aspect-ratio: 9/14;
            box-shadow: 0px 0px 20px #000;

    }

    &__content{
        padding-left: 2rem;

    }

    &__icons{
        background-color: #000;
        margin-left: 12rem;
        display: flex;
        flex-direction: column;
    }

    &__icons-image{
        width: 3rem;
        height: 3rem;
        padding: .5rem;
    }

    &__title{
        padding-bottom: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2rem;
        font-weight: 600;
        color: #000;
    }

    &__author{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        color: #000;
    }

    &__container{
        padding-top: 1rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    &__titleSummary{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 1rem;
        font-size: 2rem;
        font-weight: 600;
        color: #000;
    }

    &__summary{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 1rem;
        font-size: 1rem;
        font-weight: 400;
        color: #000;
    }

    &__review{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 1rem;
        font-size: 2rem;
        font-weight: 600;
        color: #000;
    }
}