.bookdisplay{
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__box{
        margin-left: 1rem;
    }

    &__image{
        width: 10rem;
        aspect-ratio: 9/14;
    }

    &__title{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
    }

    &__name{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        font-style: italic;
    }
}